<div class="navbuttons twelve.columns">
<%= button_to "New Daily Leads", { :action => "index" }, :method => :get %>
<%= button_to "All Available Leads", { :action => "avail_to_buy" }, :method => :get %>
<%= button_to "Purchase History", { :action => "show" }, :method => :get %>
<%= button_to "Checkout", { :action => "stripe" }, :method => :get %>
</div>

<h2>Leads available for Purchase</h2>

<!-- form_tag('name of method', symbolkey: :action) -->
<%= form_tag('purchase', method: :post) do %>
  <table class="u-full-width">
    <tr>
      <th>Zip Code</th>
      <th>Home Value</th>
      <th>Date of Court Filing</th>
      <th><em>estimated</em> Date of Judgement</th>
      <th>Purchase</th>
    </tr>
    </table>
    <div class="tbl-content">
    <table class="u-full-width">
    <!-- display all Proerties not purchased by Attorney -->
    <% @properties.each do |property| %>
        <tr>
          <td><%= property.prop_zip %></td>
          <td><%= number_to_currency(property.home_value, precision: 0) %></td>
          <td><%= property.record_date.strftime("%b %d, %Y") %></td>
          <% served = property.record_date %>
          <td><%= 20.business_days.from_now(served).strftime("%b %d, %Y") %></td>
          <td><%= check_box_tag 'property.ids[]', property.id %> </td>
        </tr>
    <% end %>
  </table>
  
<% end %>
</div>
<%= submit_tag "Purchase", class: 'button-primary', id:"purchase-button"  %>
<!-- <button type='submit' form='purchase_form_table' value='Submit'>Submit</button> -->

<!-- <%#= form_tag(dashboard_avail_to_buy_path, :method => "get", id: "search-form") do %> -->
  <!--  passing in the lower bound for home value search -->
  <!-- <%#= text_field_tag :keyword1, params[:keyword1], placeholder: "from: Price" %> -->
  <!--  passing in the upper bound for home value search -->
  <!-- <%#= text_field_tag :keyword2, params[:keyword2], placeholder: "to: Price" %> -->
  <!-- <%#= submit_tag "Search" %> -->
<!-- <%# end %> -->

<%= form_tag(dashboard_avail_to_buy_path, :method => "get", id: "search-form") do %>
  <!--  passing in the lower bound for home value search -->
  <%= select_tag :keyword1, options_for_select([["100k",100000],["150k",150000],["250k",250000],["500k",500000]]) %>
  <!--  passing in the upper bound for home value search -->
  <%= select_tag :keyword2, options_for_select([["150k",150000],["250k",250000],["500k",500000],["5m",5000000]]) %>
  <%= submit_tag "Search" %>
<% end %>
