<div class="navbuttons twelve.columns">
<%= button_to "New Daily Leads", { :action => "index" }, :method => :get %>
<%= button_to "All Available Leads", { :action => "avail_to_buy" }, :method => :get %>
<%= button_to "Purchase History", { :action => "show" }, :method => :get %>
<%= button_to "Checkout", { :action => "stripe" }, :method => :get %>
</div>
<h2>History of purchased leads</h2>

<table style="width:80%">
  <tr>
    <th>Name</th>
    <th>Property Address</th>
    <th>Mailing Address</th>
    <th>Home Value</th>
    <th><em>estimated</em> Date of Judgement</th>
    <th>Date Lead Purchsed</th>
  </tr>
  <!-- set var = attorney to current session user -->
  <% attorney = session[:user_id] %>
  <!-- find all instances in Purchase where attorney bought the lead ; then iterate through -->
  <% @purchases.where(user_id: attorney).each do |purchase| %>
    <tr>
      <!-- get Property info utilizing the property_id which is stored in var = bought for each iteration -->
      <% bought = purchase.property_id %>
      <td><%= Property.find_by(id: bought).owner %></td>
      <td><%= Property.find_by(id: bought).prop_str_addr %></td>
      <td><%= Property.find_by(id: bought).mail_str_addr %></td>
      <td><%= number_to_currency(Property.find_by(id: bought).home_value, precision: 0) %></td>
      <% served = Property.find_by(id: bought).record_date %>
      <td><%= 20.business_days.from_now(served).strftime("%b %d, %Y") %></td>
      <td><%= purchase.created_at.strftime("%b %d, %Y") %></td>
    </tr>
  <% end %>
</table>

<p>
  Download:
  <%= link_to "CSV", dashboard_show_path(format: "csv") %>
  <%#= link_to "Excel", dashboad_show_path(format: "xls") %>  <!--  use for excel format -->
</p>
