<p id="notice"><%= notice %></p>

<h1>Listing Partials</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Prop str addr</th>
      <th>Prop city</th>
      <th>Prop state</th>
      <th>Prop zip</th>
      <th>Prop county</th>
      <th>Mail str addr</th>
      <th>Mail city</th>
      <th>Mail state</th>
      <th>Mail zip</th>
      <th>Mail county</th>
      <th>Home value</th>
      <th>Prop acct num</th>
      <th>Legal desc</th>
      <th>Document num</th>
      <th>Record date</th>
      <th>Doc number lp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partials.each do |partial| %>
      <tr>
        <td><%= partial.owner %></td>
        <td><%= partial.prop_str_addr %></td>
        <td><%= partial.prop_city %></td>
        <td><%= partial.prop_state %></td>
        <td><%= partial.prop_zip %></td>
        <td><%= partial.prop_county %></td>
        <td><%= partial.mail_str_addr %></td>
        <td><%= partial.mail_city %></td>
        <td><%= partial.mail_state %></td>
        <td><%= partial.mail_zip %></td>
        <td><%= partial.mail_county %></td>
        <td><%= partial.home_value %></td>
        <td><%= partial.prop_acct_num %></td>
        <td><%= partial.legal_desc %></td>
        <td><%= partial.document_num %></td>
        <td><%= partial.record_date %></td>
        <td><%= partial.doc_number_lp %></td>
        <td><%= link_to 'Show', partial %></td>
        <td><%= link_to 'Edit', edit_partial_path(partial) %></td>
        <td><%= link_to 'Destroy', partial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partial', new_partial_path %>
