<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @partial.owner %>
</p>

<p>
  <strong>Prop str addr:</strong>
  <%= @partial.prop_str_addr %>
</p>

<p>
  <strong>Prop city:</strong>
  <%= @partial.prop_city %>
</p>

<p>
  <strong>Prop state:</strong>
  <%= @partial.prop_state %>
</p>

<p>
  <strong>Prop zip:</strong>
  <%= @partial.prop_zip %>
</p>

<p>
  <strong>Prop county:</strong>
  <%= @partial.prop_county %>
</p>

<p>
  <strong>Mail str addr:</strong>
  <%= @partial.mail_str_addr %>
</p>

<p>
  <strong>Mail city:</strong>
  <%= @partial.mail_city %>
</p>

<p>
  <strong>Mail state:</strong>
  <%= @partial.mail_state %>
</p>

<p>
  <strong>Mail zip:</strong>
  <%= @partial.mail_zip %>
</p>

<p>
  <strong>Mail county:</strong>
  <%= @partial.mail_county %>
</p>

<p>
  <strong>Home value:</strong>
  <%= @partial.home_value %>
</p>

<p>
  <strong>Prop acct num:</strong>
  <%= @partial.prop_acct_num %>
</p>

<p>
  <strong>Legal desc:</strong>
  <%= @partial.legal_desc %>
</p>

<p>
  <strong>Document num:</strong>
  <%= @partial.document_num %>
</p>

<p>
  <strong>Record date:</strong>
  <%= @partial.record_date %>
</p>

<p>
  <strong>Doc number lp:</strong>
  <%= @partial.doc_number_lp %>
</p>

<%= link_to 'Edit', edit_partial_path(@partial) %> |
<%= link_to 'Back', partials_path %>
