<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @property.owner %>
</p>

<p>
  <strong>Prop str addr:</strong>
  <%= @property.prop_str_addr %>
</p>

<p>
  <strong>Prop city:</strong>
  <%= @property.prop_city %>
</p>

<p>
  <strong>Prop state:</strong>
  <%= @property.prop_state %>
</p>

<p>
  <strong>Prop zip:</strong>
  <%= @property.prop_zip %>
</p>

<p>
  <strong>Prop county:</strong>
  <%= @property.prop_county %>
</p>

<p>
  <strong>Mail str addr:</strong>
  <%= @property.mail_str_addr %>
</p>

<p>
  <strong>Mail city:</strong>
  <%= @property.mail_city %>
</p>

<p>
  <strong>Mail state:</strong>
  <%= @property.mail_state %>
</p>

<p>
  <strong>Mail zip:</strong>
  <%= @property.mail_zip %>
</p>

<p>
  <strong>Mail county:</strong>
  <%= @property.mail_county %>
</p>

<p>
  <strong>Home value:</strong>
  <%= @property.home_value %>
</p>

<p>
  <strong>Prop acct num:</strong>
  <%= @property.prop_acct_num %>
</p>

<p>
  <strong>Legal desc:</strong>
  <%= @property.legal_desc %>
</p>

<p>
  <strong>Document num:</strong>
  <%= @property.document_num %>
</p>

<p>
  <strong>Record date:</strong>
  <%= @property.record_date %>
</p>

<p>
  <strong>Doc number lp:</strong>
  <%= @property.doc_number_lp %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
