<!DOCTYPE html>
<html>
<head>
  <title>LawLeads</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.fontawesome.com/2ede8b299c.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item left-item">
            <a class="navbar-link" href="/"><i class="fa fa-balance-scale" aria-hidden="true"></i>
LawLeads</a></li>
          
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>

          <% if current_user %>
          <li class="navbar-item right-item">
            <%= link_to "Log Out", logout_path, class: "navbar-link" %>
          </li>
          <li class="navbar-item right-item">
            <span class="navbar-link">Welcome <%= current_user.user_name %></span>
          </li>
          <% else %>
            <li class="navbar-item right-item">
              <%= link_to "Sign Up", signup_path, class: "navbar-link" %>
            </li>
            <li class="navbar-item right-item">
              <%= link_to "Log In", login_path, class: "navbar-link" %>
            </li>
          <% end %>
        </ul>
  </div>
</nav>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, class: "alert alert-#{key}") do %>
      <p><%= value %></p>
    <% end %>
  <% end %>
<div id="spacer" class="container">
</div>

<div class="container">
<%= yield %>
</div>

<% if Rails.env.development? %>
      <%= console %>
      <%= debug(params) %>
<% end %>

</body>
</html>
